@import url('//fonts.googleapis.com/css?family=Concert+One');

body {
  &, * {
    font-family: 'Concert One', Helvetica, Arial, sans-serif;
  }
}

a {
  text-decoration: none;
}

button {
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}
