<main class="bg-clown">
  <fade-scroll :sections="4" @change="fadeScrollChange">
    <template slot="content" slot-scope="{ visibleSection }">

      <fullscreen-section v-if="visibleSection === 1" key="1" :bg-image="image1" />

      <fullscreen-section v-if="visibleSection === 2" key="2" :bg-image="image2" class="bg-cat" />

      <fullscreen-section v-if="visibleSection === 3" key="3" :bg-image="image3" class="bg-dog" />

      <fullscreen-section v-if="visibleSection === 4" key="4" :bg-image="image4" class="bg-turtle" />

    </template>
  </fade-scroll>

  <side-glow-link side="left" to="/santa" :title="santaTitle" />
  <side-glow-link side="right" to="/dog" :title="dogTitle" />
</main>
